@import "../../../../styles/constants";
@import "../../../../styles/mixins";

.form-main {
  grid-column: 1/87;
  grid-row: 17/101;
  display: grid;
  grid-template-columns: repeat(43, 1fr);
}

.form-main__map {
  grid-column: 3/31;
  width: 928px;
  height: 100%;
  display: flex;
  flex-direction: column;
  font: 300 normal 14px/16px "Roboto", sans-serif;
  &--order {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 32px;
    margin-bottom: 32px;
    max-width: 320px;
    form {
      label {
        margin-bottom: 14px;
      }
    }
    @include mobile {
      max-width: 100%;
    }
    @include desktop_min {
      align-self: flex-start;
      margin-left: 10%;
    }
    @include tablet {
      align-self: flex-start;
      margin-left: 10%;
    }
  }
  &--sity {
    border: 0;
    margin-bottom: 14px;
    margin-left: 5px;
    font: 300 normal 14px/16px "Roboto", sans-serif;
    color: $main_black;
    outline: none;
  }
  &--point {
    border: 0;
    margin-bottom: 14px;
    margin-left: 5px;
    font: 300 normal 14px/16px "Roboto", sans-serif;
    color: $main_black;
    outline: none;
  }
  @include desktop_min {
    width: 100%;
    align-items: center;
  }
  @include tablet {
    width: 100%;
    align-items: center;
  }
  @include mobile {
    width: 100%;
    justify-content: center;
    align-items: center;
    grid-column: 1/44;
  }
}

.input__wrapper_sity {
  width: 320px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: $main_black;
  label {
    margin-right: 1px;
  }
  @include mobile {
    width: 100%;
    justify-content: space-between;
    margin: auto 5%;
  }
}

.form-main__map--sity {
  width: 224px;
}

.form-main__map--point {
  width: 224px;
}

.input__wrapper_point {
  width: 320px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $main_black;
  label {
    &:after {
      content: "Пункт выдачи";
    }
  }
  @include mobile {
    width: 100%;
    justify-content: space-between;
    margin: auto 5%;
    label {
      &:after {
        content: "Пункт";
      }
    }
  }
}

.form-main__aside {
  grid-column: 32/44;
  height: 100%;
  border-left: 1px solid $light_gray;
  display: flex;
  @include mobile {
    justify-content: space-between;
    flex-direction: column;
  }
}

.form-main__lane {
  height: 100%;
  display: flex;
  margin-left: 32px;
  flex-direction: column;
  align-items: flex-end;
  @include desktop_min {
    margin-left: 0;
    align-items: flex-start;
  }
  @include tablet {
    margin-left: 0;
    align-items: flex-start;
  }
  @include mobile {
    margin: auto 5%;
  }
}

.form-main__ {
  &order,
  &cost,
  &point,
  &btn {
    width: 100%;
    padding-left: 32px;
    @include desktop_min {
      width: 80%;
    }
    @include tablet {
      width: 80%;
    }
  }
  &order {
    font: 500 normal 18px/21px "Roboto", sans-serif;
    padding-top: 32px;
    text-align: right;
    @include desktop_min {
      text-align: center;
    }
    @include tablet {
      text-align: center;
    }
    @include mobile {
      padding-top: 0;
      text-align: center;
    }
  }
  &piсkup {
    font: 300 normal 14px/16px "Roboto", sans-serif;
    color: $main_black;
  }
  &address {
    font: 300 normal 14px/16px "Roboto", sans-serif;
    color: $dark_gray;
    text-align: right;
  }
  &cost {
    font: 500 normal 16px/16px "Roboto", sans-serif;
    color: $main_black;
    margin-top: 32px;
  }
  &point {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
  }
  &dots {
    flex-grow: 1;
    border-bottom: 2px dotted $dark_gray;
  }
  &btn {
    font: 500 normal 18px "Roboto", sans-serif;
    color: #fff;
    line-height: 21px;
    background-color: $light_gray;
    padding: 0;
    margin-top: 32px;
    min-width: 280px;
    height: 48px;
    border: 0;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.chooze {
  @include mobile {
    display: none;
  }
  @include desktop_min{
    align-self: flex-start;
    margin-left:10%;
  }
}

.google__map {
  width: 736px;
  height: 352px;
  margin-top: 16px;
  @include desktop_min {
    width: 80%;
  }
  @include tablet {
    width: 80%;
  }
  @include mobile {
    display: none;
  }
}

.form-main__wrapper {
  grid-column: 1/44;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-main__lent {
  width: 1248px;
  height: 100%;
  display: flex;
  @include desktop_min {
    width: 100%;
  }
  @include tablet {
    width: 100%;
  }
  @include mobile {
    width: 100%;
    flex-direction: column;
  }
}

#citylist,
#pointlist {
  border: 1px solid $light_gray;
}
input[name="citylist"] {
  border: 1px solid $light_gray;
  border-radius: 0;
}

input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 15px;
  top: 33%;

  background-image: url(../../../../assets/img/cancel.svg);
  background-repeat: no-repeat;
}

input[list]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
