@import "../../../../styles/constants";
@import "../../../../styles/mixins";

.form-header {
  grid-column: 1/87;
  grid-row: 1/17;
  border-bottom: 1px solid $light_gray;
  display: grid;
  grid-template-rows: 3fr 1fr;
  @include mobile {
    grid-column: 15/87;
    margin-right: 5%;
    border:0;
  }
}

.form-header__wrapper {
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $light_gray;
  
  @include mobile {
    align-items: flex-start;
    margin-top: 20px;
    border:0;
    width:90%;
  }
}

.breadcrumbs-wrapper {
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mobile {
    margin-left:-16.5%;
    width:100vw;
    border-bottom: 1px solid $light_gray;
    border-top: 1px solid $light_gray;
  }
}

.lane-slogan,
.lane-breadcrumbs {
  width: 1248px;
  @include desktop_min {
    width: 100%;
  }
  @include tablet {
    width: 100%;
  }
  @include mobile {
    width: 100%;
  }
}

.lane-slogan {
  display: flex;
  justify-content: space-between;
  @include desktop_min {
    padding-left: 10%;
    padding-right: 10%;
  }
  @include tablet {
    padding-left: 10%;
    padding-right: 10%;
  }
  @include mobile {
    padding-left: 0;
    padding-right: 0;
    justify-content: left;
    
  }
}

.lane-breadcrumbs {
  @include desktop_min {
    padding-left: 10%;
  }
  @include tablet {
    padding-left: 10%;
  }
  @include mobile {
    padding-left: 0;
    img {
      display: none;
    }
  }
}

.form-header__slogan {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 700 normal 30px/35px "Roboto", sans-serif;
  color: $main_accent;
  @include mobile {
    font: 700 normal 24px/24px "Roboto", sans-serif;
    margin-right: 1em;
  }
}

.form-header__sity {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 400 normal 14px "Roboto", sans-serif;
  color: $dark_gray;
  @include mobile {
    font: 400 normal 12px "Roboto", sans-serif;
   
  }
}

.form-header__marker {
  margin-right: 7.5px;
  @include mobile {
    margin-right: 5px;
  }
}

.form-header_breadcrumbs {
  grid-column: 1/87;
  grid-row: 2/3;
}

.lane-breadcrumbs__ {
  &model,
  &place,
  &add,
  &total {
    text-decoration: none;
    margin-right: 16px;
    font: 700 normal 14px/16px "Roboto", sans-serif;
    color: $dark_gray;
    &:hover {
      color: $main_accent;
    }
    &:active {
      color: $main_accent;
    }
  }
  &model,
  &add,
  &total {
    margin-left: 16px;
    @include mobile {
      margin-left:16%;
    }
  }
  &place{
    @include mobile {
      margin-left:16%;
    }
  }
}

.hidden{
  @include mobile {
  display:none;
  }
}
