@import "../../constants/constants";
@import "../../css/mixins";

.slide_1,
.slide_2,
.slide_3,
.slide_4 {
  height: 100%;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slide_1 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%),
    url(../../img/slide_1.png);
}
.slide_2 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%),
    url(../../img/slide_2.png);
}
.slide_3 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%),
    url(../../img/slide_3.png);
}
.slide_4 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%),
    url(../../img/slide_4.png);
}

/* стили основного контейнера слайдера */
.slider {
  position: relative;
  overflow: hidden;

  width: 100%;
  height: 100%;
}

/* стили для обёртки, в которой заключены слайды */
.slider__wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

/* стили для контейнера слайдов */
.slider__items {
  display: flex;
  transition: transform 0.6s ease;
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}

/* стили для слайдов */
.slider__item {
  flex: 0 0 100%;
  max-width: 100%;

  width: 100%;
  height: 100%;

  box-sizing: border-box;
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.slider__control_prev {
  position: relative;
  display: flex;
  width: 64px;
  height: 100%;
  left: 0;
  scroll-behavior: smooth;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: $main_accent;
    opacity: 0.2;
  }
}

.slider__control_next {
  position: relative;
  display: flex;
  width: 64px;
  height: 100%;

  right: 0;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: $main_accent;
    opacity: 0.2;
  }
}

.slider__control::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_prev::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_next::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* стили для индикаторов */
.slider__indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin: 0 15%;
  list-style: none;
}

.slider__indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 4px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.slider__indicators li.active {
  background-color: #fff;
}

.arrow {
  width: 8px;
  height: 18px;
}
.dots {
  position: fixed;
  display: inline-block;
  width: 65px;
  height: 8px;
  left: 74%;
  top: 94%;
  svg {
    width: 12px;
    height: 8px;
    fill: $light_gray;
  }
  a {
    margin: 2px;
  }
  @include desktop_min {
    left: 77%;
    top: 93%;
  }
}
.slider__text {
  position: relative;
  top: -11px;
  width: 495px;
  height: 317px;
  @include desktop_min {
    margin: 424px 32px 341px 32px;
  }
}
.slider__text_head {
  color: #fff;
  font: 600 normal 40px "Roboto", sans-serif;
  line-height: 47px;
  @include desktop_min {
    font: 500 normal 32px/37px "Roboto", sans-serif;
  }
}
.slider__text_main {
  color: $light_gray;
  font: 300 normal 24px/90% "Roboto", sans-serif;

  margin-top: 12px;
  @include desktop_min {
    font: 300 normal 22px/22px "Roboto", sans-serif;
  }
}
.slider__btn {
  text-decoration: none;
  font: 500 normal 18px "Roboto", sans-serif;
  line-height: 21px;
  color: $light_gray;
  width: 164px;
  height: 48px;
  border-radius: 4px;
  background: linear-gradient(90deg, #13493f 0%, #0c7b1b 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  @include desktop_min {
    font: 500 normal 18px/21px "Roboto", sans-serif;
  }
  &:hover {
    filter: brightness(0.9);
  }
  &:active {
    filter: brightness(0.8);
  }
  &_blue {
    @extend .slider__btn;
    background: linear-gradient(90deg, #132949 0%, #0c7b67 100%);
  }
  &_red {
    @extend .slider__btn;
    background: linear-gradient(90deg, #493013 0%, #7b0c3b 100%);
  }
  &_purple {
    @extend .slider__btn;
    background: linear-gradient(90deg, #281349 0%, #720c7b 100%);
  }
}
